.preBlock {
	overflow-x: auto;
	margin-block-start: var(--vertical-spacing);
	border-radius: var(--block-border-radius);
	background-color: var(--code-background-dark);
	font-family: inherit;
}

.blockCode {
	display: inline-block; /* must be inline-block in order to have padding on the right hand side when horizontally scrolling on mobile */
	/* TODO: maybe halve that vertical spacing?? */
	padding: var(--vertical-spacing) 0.75em;
	color: #ffa26b;
}
@media (prefers-color-scheme: dark) {
	.blockCode {
		color: var(--code-color-dark);
	}
}
