root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true

[*.{html,pcss,ts,cjs,scss,json,md}]
indent_size = 4

[*.{html,pcss,ts,cjs,scss}]
max_line_length = 125
