:root {
	--outline-width: 0.25em;
	--outline-offset: calc(var(--outline-width) / 2);
	--scroll-margin-block-start: 0.5em;
	--scroll-margin-block-end: 1.5em;
}

* {
	scroll-margin-block-start: var(--scroll-margin-block-start);
	scroll-margin-block-end: var(--scroll-margin-block-end);
}

:not(form):not(:placeholder-shown):invalid {
	box-shadow: 0 0 0 var(--outline-offset) red;
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	word-break: break-word;
}

@keyframes zoomAndColor {
	10% {
		outline-offset: calc(var(--outline-offset) * 1.5);
		outline-width: calc(var(--outline-width) * 1.5);
		outline-color: var(--code-color-dark);
	}
}

@keyframes color {
	10% {
		outline-color: var(--code-color-dark);
	}
}

:focus-visible {
	outline: var(--outline-width) dashed currentColor;
	outline-offset: var(--outline-offset);
	z-index: 1;
	animation: zoomAndColor 1.25s ease-out 3s infinite;
}
@media (prefers-reduced-motion: reduce) {
	:focus-visible {
		animation-name: color;
	}
}

input,
textarea {
	font-family: inherit;
	line-height: inherit;
}

img,
video {
	display: block;
	max-inline-size: 100%;
}

button:not([disabled]),
label[for]:not([for='']),
label[for]:not([for='']) *,
input[type='checkbox']:not([disabled]),
input[type='radio']:not([disabled]),
summary,
select {
	cursor: pointer;
}

body {
	/* TODO: investigate best ratio: https://graphicdesign.stackexchange.com/questions/9147/optimum-line-height-in-relation-to-font-size, https://betterwebtype.com/triangle/, https://grtcalculator.com/, https://medium.com/@zkareemz/golden-ratio-62b3b6d4282a, https://utopia.fyi/blog/css-modular-scales/ */
	line-height: var(--golden-ratio);
	font-size: 1rem;
	text-size-adjust: 100%;
}

caption {
	line-height: 1;
	/* TODO: replace em with ch */
	letter-spacing: -0.01em;
	word-spacing: 0.01em;
}

button,
input:not([type]),
input[type='text'],
input[type='number'],
input[type='checkbox'],
input[type='radio'],
code,
kbd,
select {
	font-size: 1em;
}

/* CONTINUE HERE: :hover, :active, [open] and the best code organization for all of them */
details:not([open]):active,
details[open] > summary:active,
button:not([disabled]):active,
a[href]:not([href='']):active {
	position: relative; /* it must be this approach, because inline elements cannot be transformed */
	inset-block-start: 1px;
	inset-inline-start: 1px;
}

button {
	font-family: inherit;
	background-color: inherit; /* accompanies color */
	color: inherit; /* fix for button:active on Safari */
}

details:not([open]):hover,
details[open] > summary:hover,
button:not([disabled]):hover,
input:not([disabled]):hover,
select:not([disabled]):hover {
	box-shadow: 0 0 0 1px;
}

a {
	color: inherit; /* match <html> color, fix for currentColor */
}

a[href]:not([href=''])[target='_blank']::after {
	content: ' ↗️'; /* Firefox & Safari fallback */
	content: ' ↗️' / ' external link';
	font-size: 0.5em;
	vertical-align: top;
	white-space: pre; /* ensures ::after doesn't break onto a separate line of its own */
}
a[href]:not([href=''])[data-fileFormat]:not([data-fileFormat='']):not([data-fileSize])[data-fileSize='']::after {
	content: ' (' attr(data-fileFormat) ')';
}
a[href]:not([href=''])[data-fileSize]:not([data-fileSize='']):not([data-fileFormat])[data-fileFormat='']::after {
	content: ' (' attr(data-fileSize) ')';
}
a[href]:not([href=''])[data-fileFormat]:not([data-fileFormat=''])[data-fileSize]:not([data-fileSize=''])::after {
	content: ' (' attr(data-fileFormat) ', ' attr(data-fileSize) ')';
}

summary::marker {
	white-space: normal; /* eliminates white space between arrow and text */
}

/* TODO: add shadow on buttons: https://www.joshwcomeau.com/css/designing-shadows/ */
button {
	display: block;
	margin-block-start: var(--vertical-spacing);
	border: 1px solid;
	padding: 0.75em 1.5ch;
	background-color: var(--white);
	border-radius: var(--block-border-radius);
}
button:not([disabled]):active {
	background-color: transparent;
}
@media (prefers-color-scheme: dark) {
	button {
		color: var(--light);
		background-color: var(--black);
	}
}

button[disabled] {
	opacity: 0.3;
}
