@layer reset {
	*,
	::before,
	::after,
	::backdrop,
	::placeholder {
		box-sizing: border-box;
		margin: 0; /* removes margin from body, h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote, pre, dl, dd, hr, fieldset, input, and textarea */
		padding: 0; /* removes padding from ul, ol, th, td, fieldset, legend, input, select, option, textarea, and button */
		overflow-wrap: break-word; /* `word-break: break-word;` is deprecated */
	}

	html {
		text-size-adjust: 100%;
		-webkit-font-smoothing: antialiased; /* fixed font smoothing on Chrome and Safari on macOS (no change if www.fontsmoothingadjuster.com had been used) */
	}

	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-inline-size: 100%;
	}

	input,
	textarea,
	button,
	select {
		font: inherit;
		letter-spacing: inherit;
		word-spacing: inherit;
		/* TODO: investigate how these reset values behave when `color-scheme: dark light;` is applied */
		color: inherit;
		background-color: inherit; /* should it maybe be background: inherit in case some image is used as background or something like that?? */
	}

	/* TODO: investigate */
	/* ul[role='list'],
	ol[role='list'] {
		list-style: none;
	} */

	button:not([disabled]),
	label[for]:not([for='']),
	label[for]:not([for='']) *,
	input[type='checkbox']:not([disabled]),
	input[type='radio']:not([disabled]),
	summary,
	select {
		cursor: pointer;
	}

	caption {
		line-height: 1;
		/* TODO: replace em with ch */
		letter-spacing: -0.01em;
		word-spacing: 0.01em;
	}

	pre,
	code,
	kbd,
	samp {
		font-family: monospace, monospace; /* browser default styles make the font-size of these elements smaller. this resets font-size to whatever the browser default font size is (usually 16px). taken from https://csstools.github.io/sanitize.css/latest/sanitize.css */
	}

	summary::marker {
		white-space: normal; /* eliminates white space between arrow and text */
	}

	ins {
		text-decoration: none;
	}

	/* TODO: investigate https://csstools.github.io/sanitize.css/latest/sanitize.css */
	/* small {
		font-size: 80%;
	} */
	/* iframe {
		border-style: none;
	} */
	/* svg:not([fill]) {
	fill: currentColor;
	} */
	/* table {
	border-collapse: collapse;
	} */
	/* ::-webkit-inner-spin-button,
	::-webkit-outer-spin-button {
		height: auto;
	}

	::-webkit-input-placeholder {
		color: inherit;
		opacity: 0.54;
	}

	::-webkit-search-decoration {
		-webkit-appearance: none;
	}

	::-webkit-file-upload-button {
		-webkit-appearance: button;
		font: inherit;
	}

	::-moz-focus-inner {
		border-style: none;
		padding: 0;
	}

	:-moz-focusring {
		outline: 1px dotted ButtonText;
	}

	:-moz-ui-invalid {
		box-shadow: none;
	} */
	/* a,
	area,
	button,
	input,
	label,
	select,
	summary,
	textarea,
	[tabindex] {
		touch-action: manipulation;
	} */
	/* TODO: investigate https://github.com/mayank99/reset.css/blob/main/package/index.css */
	/* TODO: investigate https://danburzo.ro/snippets/css-reset/ */
	/* input, textarea, select {
		font-size: max(16px, 1em); should ensure that the font-size of all form elemenct is big enough that safari doesn't zoom in https://danburzo.ro/css-safari-zoom-inputs/
	}	 */
	/* th, td {
		text-align: start;
		vertical-align: top;
	} */
}
