:root {
	--whitespace-width: 0.458671ch;
	--golden-ratio: 1.597;
	--mobile-multiplier: calc(1 / 1.5); /* TODO: should be 1 / 1.125 */
	--font-size-h1: calc(1rem * var(--golden-ratio) * var(--golden-ratio) * var(--golden-ratio) * var(--mobile-multiplier));
	--font-size-h2: calc(1rem * var(--golden-ratio) * var(--golden-ratio) * var(--mobile-multiplier));
	--font-size-h3: calc(1rem * var(--golden-ratio) * var(--mobile-multiplier));
	--link-underline-thickness: 0.06em;

	--white: #fff;
	--pitch-black: #080808;
	--black: #080808;
	--near-black: #181818;
	--dark: #202020;
	--light: #e0e0e0;
	--near-white: #eee;
	--code-background-dark: #2a2d2e;
	--code-color-light: #ffa26b;
	--code-color-dark: #ff9359;
	--link-unvisited-light: #00e;
	--link-visited-light: #551a8b;
	--link-unvisited-dark: #59f;
	--link-visited-dark: #9fa9ff;
	--yellow: yellow;
	--input-border-light: #dadada;
	--input-border-dark: #4d4d4d;
}

@media (width >= 1024px) {
	/* TODO: this is just temporary. replace with utopia font sizes */
	:root {
		--font-size-h1: calc(1rem * var(--golden-ratio) * var(--golden-ratio) * var(--golden-ratio));
		--font-size-h2: calc(1rem * var(--golden-ratio) * var(--golden-ratio));
		--font-size-h3: calc(1rem * var(--golden-ratio));
	}
}
