h1,
h2,
h3 {
	line-height: 1;
	letter-spacing: -0.01em; /* TODO: replace em with ch */
	word-spacing: 0.01em; /* TODO: replace em with ch */
	display: inline;
}

/* TODO: apply utopia font-size or alternatively https://typescale.com/ */
h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
}

.headingContainer {
	position: relative;
}

.screenReaderHeading {
	position: absolute;
	inset-block-start: 0;
	inset-inline-start: 0;
	color: transparent;
	background-color: transparent;
	z-index: -1;
}
