.tableContainer {
	overflow-x: auto;
}

.table {
	min-width: 100%;
	border-collapse: collapse;
}

.table * {
	word-break: normal;
}

.caption {
	margin-block-end: calc(var(--vertical-spacing) / 2);
	font-size: calc(var(--golden-ratio) * 1em); /* TODO: should it maybe be var(--line-height)?? */
	font-weight: bold;
}

.thead {
	border-bottom: 2px solid var(--input-border-light);
}
@media (prefers-color-scheme: dark) {
	.thead {
		border-bottom-color: var(--input-border-dark);
	}
}

.tbody {
	border-top: 2px solid var(--input-border-light);
}
@media (prefers-color-scheme: dark) {
	.tbody {
		border-top-color: var(--input-border-dark);
	}
}

.tbody > .tr:nth-of-type(2n + 1) {
	background-color: rgba(0 0 0 / 0.1);
}
@media (prefers-color-scheme: dark) {
	.tbody > .tr:nth-of-type(2n + 1) {
		background-color: rgba(0 0 0 / 0.25);
	}
}

.th,
.td {
	border: 1px solid var(--input-border-light);
	padding: calc(var(--vertical-spacing) / 4) calc(var(--horizontal-spacing) / 4);
}
@media (prefers-color-scheme: dark) {
	.th,
	.td {
		border-color: 1px solid var(--input-border-dark);
	}
}

.th[colspan]:not([colspan='']),
.td[colspan]:not([colspan='']) {
	text-align: center;
}
