:root {
	--whitespace-width: 0.458671ch;
	--golden-ratio: 1.618;
	--mobile-multiplier: calc(1 / 1.5); /* TODO: should be 1 / 1.125 */
	--font-size-h1: calc(1rem * var(--golden-ratio) * var(--golden-ratio) * var(--golden-ratio) * var(--mobile-multiplier));
	--font-size-h2: calc(1rem * var(--golden-ratio) * var(--golden-ratio) * var(--mobile-multiplier));
	--font-size-h3: calc(1rem * var(--golden-ratio) * var(--mobile-multiplier));
	--link-underline-thickness: 0.06em;

	/* TODO: just use white keyword for white, ditch --white */
	--white: #fff;
	--black: #080808;
	--near-black: #181818;
	--dark: #202020;
	--light: #e0e0e0;
	--near-white: #eee;
	--code-background-dark: #2a2d2e;
	--code-color-dark: #ff9359;
}

@media (width >= 1024px) {
	/* TODO: this is just temporary. replace with utopia font sizes */
	:root {
		--font-size-h1: calc(1rem * var(--golden-ratio) * var(--golden-ratio) * var(--golden-ratio));
		--font-size-h2: calc(1rem * var(--golden-ratio) * var(--golden-ratio));
		--font-size-h3: calc(1rem * var(--golden-ratio));
	}
}
