.preBlock {
	overflow-x: auto;
	margin-block-start: var(--vertical-spacing);
	border-radius: var(--block-border-radius);
	background-color: var(--code-background-dark);
	font-family: inherit;
}

/* TODO: responsify padding-left from 600px to 900px to be twice as wide */
.blockquote {
	display: inline-block; /* must be inline-block in order to have padding on the right hand side when horizontally scrolling on mobile */
	border-inline-start: calc(var(--horizontal-spacing) / 2) solid var(--code-color-light);
	padding: calc(var(--vertical-spacing) * 0.75) calc(var(--horizontal-spacing) * 0.75);
	color: var(--light);
}
@media (prefers-color-scheme: dark) {
	.blockquote {
		color: inherit;
		border-inline-start-color: var(--code-color-dark);
	}
}

.term {
	font-size: 1.35em;
}

.termType {
	font-size: 0.75em;
}
