.exampleDivMiddleAligned {
	--width: 90vw;

	inline-size: var(--width);
	margin-inline-start: calc((var(--width) - 100%) / 2 * -1);
}
@media (width >= 900px) {
	.exampleDivMiddleAligned ~ .exampleDivMiddleAligned {
		--width: calc(
			3716.129px - 322.903vw
		); /* https://responsify.dev - parent lower bound: 900px; parent upper bound: 1024px; element lower bound: 90vw; element upper bound: 40vw; */
	}
}
@media (width >= 1024px) {
	.exampleDivMiddleAligned {
		--width: 40vw !important;
	}
}

.exampleDiv {
	border-radius: var(--block-border-radius);
	padding: calc(var(--vertical-spacing) * 2) 0;
	display: flex;
	justify-content: center;

	background-image: repeating-linear-gradient(
		45deg,
		#fff 0,
		#fff 20px,
		#aaa 20px,
		#aaa 40px,
		#555 40px,
		#555 60px,
		#000 60px,
		#000 80px
	);
	background-attachment: fixed;
}

.exampleDiv::before {
	content: 'width: 90%;';
	border-radius: var(--inline-border-radius);
	background-color: var(--code-background-dark);
	color: var(--code-color-light);
	font-family: monospace;
	outline: 1px solid var(--light);
	padding: calc(var(--vertical-spacing) / 2) var(--horizontal-spacing);
}
@media (prefers-color-scheme: dark) {
	.exampleDiv::before {
		color: var(--code-color-dark);
	}
}
@media (width >= 900px) {
	.exampleDiv ~ .exampleDiv::before {
		content: 'width: calc(3716.129px - 322.903%);';
	}
}
@media (width >= 1024px) {
	.exampleDiv::before {
		content: 'width: 40%;' !important;
	}
}

/* TODO: improve the copy for mobile users who cannot resize the browser */
/* TODO: also explain that below is an interactive example */
.resize::before {
	content: 'Resize the browser up ⬆️ to see responsify in action.';
	content: 'Resize the browser up ⬆️ to see responsify in action.' / 'Resize the browser up to see responsify in action.';
}
@media (width >= 900px) {
	.resize::before {
		/* TODO: handle this with postcss */
		content: 'Resize the browser to see responsify in action. 🦄';
		content: 'Resize the browser to see responsify in action. 🦄' / 'Resize the browser to see responsify in action.';
		white-space: pre-wrap;
	}
}
@media (width >= 1024px) {
	.resize::before {
		content: 'Resize the browser down ⬇️ to see responsify in action.';
		content: 'Resize the browser down ⬇️ to see responsify in action.' /
			'Resize the browser down to see responsify in action.';
	}
}
